@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap&subset=latin-ext");
/* Variables */

:root {
  --mainColor: #dddddd;
  --secondaryColor: #c2c2c2;
  --backgroundColor: #e6e6e6;
  --fontColor: #000000d0;
}

/* General */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: "Raleway", sans-serif;
  color: var(--fontColor);
  flex-direction: column;
  text-align: center;
}

/* Helper */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Miscallaneous */

h2 {
  z-index: 10;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

#header > a {
  transform: translateY(25px);
  transition: all 0.2s;
  color: var(--mainColor);
}

#header > a:after {
  content: "";
  position: absolute;
  background-color: var(--mainColor);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transition: all 0.2s;
}

#header > a:hover:after {
  width: 100%;
  left: 0;
}

.thumbnail {
  position: relative;
  width: 40rem;
  height: 25rem;
  border-radius: 15px;
  background: #dddddd;
  box-shadow: 14px 14px 38px #a1a1a1, -14px -14px 38px #ffffff;
}

.section {
  width: 100%;
  height: 100vh;
}

.skew {
  top: 30px;
  position: relative;
  padding: 20px;
  transform: skewY(-5deg);
}

#header > .skew {
  background-color: var(--fontColor);
}

#preloader > .skew {
  background-color: var(--secondaryColor);
}
#landing-page > .skew {
  background-color: #00000094;
}

.skew > h1 {
  transform: skewY(5deg);
}

.skew > h2 {
  transform: skewY(5deg);
}

/* Main style */

.main-background {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(#00000088, #00000088),
    url("../photos/daniel-vargas-ngrIs67UJEg-unsplash.jpg");
  background-size: cover;
}

#header {
  height: 15vh;
  width: 100%;
  justify-content: space-around;
  color: var(--backgroundColor);
}

#landing-page {
  height: 85vh;
  color: var(--backgroundColor);
}

#gallery {
  height: 220vh;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--mainColor);
}

#offer {
  justify-content: space-around;
  flex-wrap: wrap;
}

#offer > h2 {
  width: 100%;
}

.offer-1 {
  border-top: solid 3px deeppink;
}

.offer-2 {
  border-top: solid 3px deepskyblue;
}

.offer-3 {
  border-top: solid 3px goldenrod;
}

.offers {
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  height: 50%;
  border-radius: 15px;
  background: #e6e6e6;
  box-shadow: 21px 21px 42px #bdbdbd, -21px -21px 42px #ffffff;
}

.offers > p {
  margin: 0 15% 0 15%;
}

.offers > a {
  transform: translateY(25px);
  transition: all 0.2s;
  color: var(--fontColor);
}

.offers > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  transition: all 0.2s;
}

.basic:after {
  background-color: deeppink;
}

.advanced:after {
  background-color: deepskyblue;
}

.premium:after {
  background-color: goldenrod;
}

.offers > a:hover:after {
  width: 100%;
  left: 0;
}

#opinions {
  background-color: var(--mainColor);
  justify-content: space-around;
  flex-wrap: wrap;
}

#opinions > h2 {
  width: 100%;
}

.opinions {
  width: 20%;
  height: 50%;
  border-radius: 15px;
  background: #dddddd;
  box-shadow: 21px 21px 42px #a1a1a1, -21px -21px 42px #ececec;
  justify-content: space-evenly;
  flex-direction: column;
}

.opinions > p {
  margin: 0 15% 0 15%;
}

.op1 {
  border-left: solid 3px deeppink;
}

.op2 {
  border-bottom: solid 3px deepskyblue;
}

.op3 {
  border-right: solid 3px goldenrod;
}

.portrait {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.footer {
  height: 40vh;
  width: 100%;
  background-color: var(--secondaryColor);
  flex-direction: column;
  justify-content: space-around;
}

/* Loader */
#preloader {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mainColor);
  z-index: 100;
  transition: all 1s;
  flex-wrap: wrap;
  flex-direction: column;
}

#preloader > noscript {
  margin-top: 20%;
}

.loading:after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: var(--fontColor);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: var(--fontColor);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 var(--fontColor), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 var(--fontColor), 0.5em 0 0 var(--fontColor);
  }
}
